<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="CalcServerFinder.Services.ProcessingServiceFinder" behaviorConfiguration="ServiceMetadataBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001/ProcessingServiceFinder"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="CalcServerFinder.Contracts.IProcessingServiceFinder" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      <service name="CalcServerFinder.Services.QueryReplyService" behaviorConfiguration="ServiceMetadataBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7001/QueryReplyService"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="basicHttpBinding"
                  contract="CalcServerFinder.Contracts.IQueryReplyService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMetadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>